<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031089905863-ta5qej79ojd9f2om9glh5mjn06hlqpgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031089905863-ta5qej79ojd9f2om9glh5mjn06hlqpgv</string>
	<key>API_KEY</key>
	<string>AIzaSyD6TXez0O7LAcU5mp_dYRF8HUmus1Avy0c</string>
	<key>GCM_SENDER_ID</key>
	<string>1031089905863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exxper.geonotes</string>
	<key>PROJECT_ID</key>
	<string>geonotes-b1f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>geonotes-b1f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031089905863:ios:649c0ba23857cd74f85ee2</string>
</dict>
</plist>